
<div class="top-section">

  <img id="logo" src="<%=asset_path 'logo_sm.png'%>" width="100px" alt="logo">

  <button class='big-button'><%= link_to "Share your game!", new_game_path %></button>
  <h4><i>Share a game or play one listed below!</i></h4>
</div>

<div class="spacer"></div>

<div class="sort-buttons">
  <span class="description">Sort by:</span>
  <%= link_to "Most Liked", :root, class:'subdued-button' %>
  <%= link_to "Newest", :root, class:'subdued-button' %>
  <%= link_to "Outdoor Games", :root, class:'subdued-button' %>
  <%= link_to "Indoor Games", :root, class:'subdued-button' %>
  <%= link_to "Ages: 2+", :root, class:'subdued-button' %>
  <%= link_to "Ages: 5+", :root, class:'subdued-button' %>
  <%= link_to "Ages: 10+", :root, class:'subdued-button' %>
  <%= link_to "Ages: 18+", :root, class:'subdued-button' %>
</div>

<% @games.each do |game| %>
  <div class="game-description">
    <h2><%= game.name %>  <span class="likes">likes: <%= game.votes.count %></span></h2>
    <br>
    <%= link_to "Read how to play!", game_path(game), class:'regular-button' %>
  </div>
<% end %>
