<div class="game-create">
  <h2>Tell us about your game!</h2><br>

  <%= form_for @game, url: {action: "create"} do |f|  %>
    <%= f.label :name, "What's this game called?" %><br>
    <%= f.text_field :name %> <br>

    <%= f.label :description, "How do you play?" %><br>
    <%= f.text_area :description  %> <br>

    <%= f.label :equipment, "What gear do you need?"%><br>
    <%= f.text_field :equipment  %> <br>

  <%= f.label :video_url, "Share link to a short Vine or YouTube of you playing this game"%><br>
  <%= f.text_field :video_url  %> <br>

    <%= f.submit "Share this game!", class: "big-button" %>
  <% end %>

  <%= link_to "Cancel", :root, class:'regular-button' %>
</div>
